<script id="getting-template" type="text/x-handlebars-template">
<div class="container">
    <div class="content">
        <div class="currency-rates">
            <div class="currency-rate-container">
                <div>
                    <a >{{name}}</a>
                    <span class="currency-caption">Доллар США</span>
                    <span class="currency-sub-caption">USDRUB</span>
                </div>
                <div>
                    <div class="currency-price">63,65 ₽</div>
                    <div class="currency-change currency-change-up">▲ 0,67201</div>
                </div>
            </div>
            <div class="currency-rate-container">
                <div class="currency-row">
                    <span class="currency-caption">Евро</span>
                    <span class="currency-sub-caption">EURRUB</span>
                </div>
                <div class="currency-row">
                    <div class="currency-price">70,08 ₽</div>
                    <div class="currency-change currency-change-down">▼ 0,15203</div>
                </div>
            </div>
            <div class="currency-rate-container">
                <div class="currency-row">
                    <span class="currency-caption">Юань</span>
                    <span class="currency-sub-caption">CNYRUB</span>
                </div>
                <div class="currency-row">
                    <div class="currency-price">8,65 ₽</div>
                    <div class="currency-change currency-change-down">▼ 0,26033</div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<script src="./MainPage.js"></script>